.mb-3{
    width:300px;
}
.inline-search{
    display:flex;
    flex-direction:row;
}
.inline-search button{
    margin-left:2%;
    width:100px;
    height:50px;
}
.alignForm{
    display:flex;
    flex-direction:column;
    margin-top:2%;
    
}
.alignForm button{
    align-self:center;
}